//= require fonts
//= require vendor/bootstrap
//= require vendor/bootstrap-responsive

body {
  color: white;
  background: #F0ECDD url(/assets/noisy.png);
  //font-family: 'PT Sans', Arial, sans-serif;
  font-family:  'PT Sans Narrow', sans-serif;
  font-size: 16px;

  > .container {
    color: #666;
    background-color: white;
    min-height: 40em;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 1px 15px -1px #aaa;
  }

  .content {
    padding: 2em 0 1em 0;
    margin: 1em 2em;

    table.table {
      th {
        font-weight: bold;
        color: #111;
      }
    }

    #node-reports-summary-chart {
      height: 250px;
      margin-bottom: 2em;
    }

    table.table-nodes {
      tr:first-child td {
        border: none;
      }
    }

    table.table-node-facts {
      tr:first-child td {
        border: none;
      }
    }

    table.table-node-reports {
      td:first-child {
        width: 4em;
      }
    }

    table.table-node-events {
      width: 100%;
      table-layout: fixed;

      th:first-child {
        width: 4em;
      }

      th:nth-child(2) {
        width: 12em;
      }

      th:last-child {
        width: 6em;
      }
    }
  }

  .header {
    > .navigation {
      border-bottom: 1px solid #ccc;
      margin: 1em 2em;
      padding: 0;

      li {
        display: inline-block;
        padding: .8em .5em .5em .5em;
        margin: 0 .5em 0 0;
        border-bottom: 1px solid white;

        &:first-child a {
          color: #111;
        }

        &.active {
          border-bottom: 4px solid #ccc;

          a:hover {
            opacity: 1;
          }
        }
        a {
          color: #666;
          font-size: 1.2em;

          &:hover {
            text-decoration: none;
            opacity: .8;
          }
        }

        &.search {
          margin: .3em 0 0 0;
          padding: 0;
          float: right;
          input {
            &:focus {
              width: 25em;
            }
          }
        }
      }
    }
  }
}

// dashboard
.node-facts-info {
  height: 6em;
  margin-bottom: 1em;

  .node-info {
    float: left;
    margin-right: 2em;

    strong {
      display: block;
      font-weight: normal;
      color: #111;
    }

    small {
      color: #999;
      display: block;
    }

    &.node-cpu-info {
      padding-left: 40px;
      background: url(/assets/cpu-icon.png) no-repeat left 5px;
    }

    &.node-kernel-Linux-info {
      padding-left: 40px;
      background: url(/assets/Linux-icon.png) no-repeat left 5px;
    }

    &.node-host-info {
      padding-left: 40px;
      background: url(/assets/Server.png?1) no-repeat left 5px;
      margin-right: 4em;
    }
  }
}

// bootstrap overrides

span.label {
  font-weight: normal !important;
}

.well {
  background-color: Ivory;
  border: 0;
  box-shadow: 0px 1px 5px -1px #aaa;
}
